@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Inter&family=Oswald&display=swap');

.background {
    background-color: #D3E1E2;
}




.container {
    width: screen;
    height: inherit;
    padding: 10px;
    background-color: #D3E1E2;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 5%;
}

#creditform button {
    background: #656565;
    border: none;
    border-radius: 10px;
    color:#fff ;
    padding: 8px 16px;
    font-size: 15px;
    display: grid;
    width: 100%;
}

#creditform button:hover {

}




table {
    width: 100%;
    border-collapse: collapse;
}


th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}